In [1]:
import pandas as pd
import numpy as np
import json

In [10]:
data = pd.read_csv('graph/roster_history.csv')
len(data)

898

In [11]:
data

     account_id    name      team_name  start_date    end_date
0      94054712  Topson    SFTe-sports  2017-08-29  2017-10-16
1      94054712  Topson        No Rats  2017-10-16  2017-12-07
2      94054712  Topson      5 Anchors  2017-12-07  2018-03-23
3      94054712  Topson             OG  2018-06-04  2021-11-19
4      94054712  Topson        OG(Ia.)  2021-11-19  2023-09-07
..          ...     ...            ...         ...         ...
893   206642367  KuroKy  Natus Vincere  2013-02-28  2014-08-18
894   206642367  KuroKy    Team Secret  2014-08-27  2015-08-22
895   206642367  KuroKy         5Jungz  2015-08-28  2015-10-09
896   206642367  KuroKy    Team Liquid  2015-10-09  2019-09-13
897   206642367  KuroKy   Nigma Galaxy  2019-11-26     Present

[898 rows x 5 columns]

In [14]:
def clean_team_name(raw_name):
  return raw_name.split('(')[0].strip()

data['team_name'] = data['team_name'].apply(clean_team_name)
data

     account_id    name      team_name  start_date    end_date
0      94054712  Topson    SFTe-sports  2017-08-29  2017-10-16
1      94054712  Topson        No Rats  2017-10-16  2017-12-07
2      94054712  Topson      5 Anchors  2017-12-07  2018-03-23
3      94054712  Topson             OG  2018-06-04  2021-11-19
4      94054712  Topson             OG  2021-11-19  2023-09-07
..          ...     ...            ...         ...         ...
893   206642367  KuroKy  Natus Vincere  2013-02-28  2014-08-18
894   206642367  KuroKy    Team Secret  2014-08-27  2015-08-22
895   206642367  KuroKy         5Jungz  2015-08-28  2015-10-09
896   206642367  KuroKy    Team Liquid  2015-10-09  2019-09-13
897   206642367  KuroKy   Nigma Galaxy  2019-11-26     Present

[898 rows x 5 columns]

In [16]:
data.dropna(subset=['team_name'])
data.to_csv('graph/roster_history.csv', index=False)

In [3]:
import requests
from bs4 import BeautifulSoup
from neo4j import GraphDatabase
import os

In [ ]:
URI = 'neo4j+s://9fa0005b.databases.neo4j.io'
USERNAME = 'neo4j'
PASSWORD = '2OGzHvL34RYo6zDxtqKxsWl6ktfkjVpvjV5_Hod-Mq8'

query = "MATCH (t:Tournament) RETURN t.name AS name, t.league_id AS league_id"

with GraphDatabase.driver(URI, auth=(USERNAME, PASSWORD)) as driver:
    with driver.session(database='neo4j') as session:
        result = session.run(query)

        tours = [record.data() for record in result]

data = pd.DataFrame(tours)
data

             team_name
0          Team Spirit
1          Team Liquid
2              BB Team
3         Team Falcons
4    Gaimin Gladiators
..                 ...
291         Mamas Boys
292        D1 Hustlers
293          The Prime
294      Nemiga Gaming
295            Arcanys

[296 rows x 1 columns]